<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title>you're a creepster</title>
</head>
<body>
<h1>hey, does this work?</h1>

<p>this is an email from pretender.io - this is a digest</p>
<p>and here is a <%= @url %> for you to click on.</p>
<p>and this is the name of the person you're stalking: <%= @pretendee.name %></p>

</body>
</html>