<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title>Report from pretender.io</title>
</head>
<body>
<h1>Hi, <%= @user.name %></h1>

<p>This is your report from pretender.io on <%= @pretendee.name %>.</p>

<p>Find us at <%= @url %>.</p>
</body>
</html>