<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};

    if (d.getElementById(id)) return t;

    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";

    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) { t._e.push(f); };

    return t;
  }(document, "script", "twitter-wjs"));
</script>

<% if @topic.tweets %>
<div class="container">
  <h1>Recent Popular Tweets</h1>
  <div class="row">
    <div class="portfolio-box iso-call work-col-8">
      <% @topic.tweets.each do |tweet| %>
      <div class="image-wrapper col-sm-3 nopadding">
        <%= tweet['text'] %> |
        <%= tweet['photo_url'] %>
        <a href="#">
        <div class="image-overlay">
        </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>