<% if @wiki_paragraph %>
<div class="container">
  <h1><%= @topic.name.capitalize %></h1>
  <p><%= @wiki_paragraph['text'] %></p>
  <p><i>Not enough info? Read more about <%= @topic.name %> <%= link_to 'here', @wiki_paragraph['url'], :target => "_blank" %>.</i></p>
</div>
<% end %>
