<% if @paragraph %>
<div class="container">
  <h1><%= @topic.name.capitalize %></h1>
  <p><%= @paragraph %></p>
  <p><i>Not enough info? Read more about <%= @topic.name %> <%= link_to 'here', @url, :target => "_blank" %>.</i></p>
</div>
<% end %>
