<% if @topic.wiki_text %>
<div class="container">
  <h1><%= @topic.name.capitalize %></h1>
  <p><%= @topic.wiki_text['text'] %></p>
  <p><i>Not enough info? Read more about <%= @topic.name %> <%= link_to 'here', @topic.wiki_text['url'], :target => "_blank" %>.</i></p>
</div>
<% end %>
