<div class="services-section-3-ezra services-section-2 parallax">
  <div class="container col-md-12 text-center">
    <h1>Follow a new topic</h1>
    <%= form_for [@user, Topic.new], as: :topic, html: {class: "newsletter-form"} do |f| %>
    <div class="row col-sm-4 col-sm-offset-4 input-group">
      <%= f.text_field :name, class: "form-control", placeholder: "What do you want to \"know\" about?" %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <span class="input-group-btn"><%= f.submit "Get Learning", class: "add-padding-btn btn btn-theme-color btn-lg"%></span>
    <% end %>
    </div>
  </div>
</div>