<div id="pretendees">
<% if @pretendees %>
	<% @pretendees.each do |pretendee|%>
		<div class="image-wrapper col-sm-3 nopadding">
			<div class="square-div">
				<img src="<%= pretendee.profile_image_url %>" class="img-responsive square-img">
			</div>
			<div class="image-overlay"> 
				<p>
					<a href="<%= user_pretendee_path(@user, pretendee) %>"><%= pretendee.name %></a>
					<br><br>
					<%= link_to 'delete', user_pretendee_path(@user, pretendee), method: :delete, class: "deleter" %>
				</p>
			</div><!-- ends overlay div -->
		</div><!-- ends user image div -->
	<% end %><!-- ends pretendee loop -->
<% end %><!-- end if statement --> 
</div>