<% if @user.topics.present? %>
  <h1 class="center-header">YOUR TOPICS</h1>
  <div class="row test">
    <div class="portfolio-box iso-call work-col-8">
      <% @user.topics.each do |topic|%>
      <div class="image-wrapper col-sm-3 nopadding">
        <img src="http://www.bestbritishsweets.co.uk/user/products/large/topic.jpg" alt="" class="img-responsive">
        <div class="image-overlay"> 
          <a href="<%= user_topic_path(@user, topic) %>">
            <p>
              <%= topic.name %>
              <br><br>
              <%= link_to 'Delete', user_topic_path(@user, topic), method: :delete %>
            </p>
          </a>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
</div>