<div id="topics">
  <% if @topics %>
    <h1 class="center-header">YOUR TOPICS</h1>
    <% @topics.each do |topic|%>
      <div class="image-wrapper col-sm-3 nopadding">
        <img src="<%= SuckrWrapper.new.google_image_url_for_phrase(topic.name) %>" class="img-responsive">
        <div class="image-overlay"> 
          <p>
            <a href="<%= user_topic_path(@user, topic) %>"><%= topic.name %></a>
            <br><br>
            <%= link_to 'Delete', user_topic_path(@user, topic), method: :delete %>
          </p>
        </div><!-- ends overlay div -->
      </div><!-- ends topic image div -->
    <% end %><!-- ends topic loop -->
  <% end %><!-- end if statement --> 
</div>