  <section id="home" class="home-video full-screen-dem" data-stellar-background-ratio="0.5">
    <div class="parallax-overlay"></div> 
    <a id="video" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=tLPZmPaHme0',containment:'#home', showControls:true, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>

    <div class="home-content text-center">
      <div class="container">
        <div class="main-flex-slider">
          <ul class="slides">
            <li>
              <h1>Get Creepy</h1>
            </li>
            <li>
              <h1>we'll help you</h1>
            </li>
          </ul>
        </div> 
        <h2 class="slide-btm-text">Meeting someone new?.... We'll help you know what to talk about</h2>
        <div class="home-arrow-down text-center">
          <p class="scrollto"><a href="/auth/twitter" class="btn btn-lg btn-theme-color">start creepin'</a></p>
        </div>
      </div>
    </div>
  </section>

  <%= render 'layouts/navigation' %>