<% if @pretendee.instagram_photos %>
    <div class="row test">
      <div class="portfolio-box iso-call work-col-8">
        <% @pretendee.instagram_photos.each do |pic|%>
        <div class="image-wrapper col-sm-2 nopadding">
          <img src="<%= pic['photo_url'] %>" alt="" class="img-responsive">
          <div class="image-overlay"> 
            <h5><%= link_to pic['caption'], pic['url']  %></h5>
          </div>
        </div>
        <% end %>
      </div>
    </div>
<% end %>