<% if @instagram_pics %>
    <div class="row test">
      <div class="portfolio-box iso-call work-col-8">
        <% @instagram_pics.each do |pic|%>
        <div class="image-wrapper col-sm-2 nopadding">
          <img src="<%= pic['photo_url'] %>" alt="" class="img-responsive">
          <div class="image-overlay"> 
            <%= link_to pic['caption'], pic['url']  %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
<% end %>