<div id="topics">
  <% if @pretendee.topics.present? %>
    <% @pretendee.topics.each do |topic|%>
      <div class="image-wrapper col-sm-3 nopadding">
        <div class="square-div">
          <img src="<%= topic.image %>" alt="" class="img-responsive square-img">
        </div>
        <div class="image-overlay"> 
          <p>
            <a href="<%= user_pretendee_topic_path(@user, @pretendee,topic) %>"><%= topic.name %></a>
            <br><br>
            <%= link_to 'Delete', user_pretendee_topic_path(@user, @pretendee, topic), method: :delete, class: 'deleter' %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
