<% if @pretendee.tweets.present? %>
  <div class="testi parallax " data-stellar-background-ratio="0.5" id="tweets-parallax">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div id="testi-carousel" class="owl-carousel">
            <% @pretendee.tweets.each do |tweet|%>
            <a href = "<%= tweet['url'] %>" target="_blank">
            <div>
              <% if tweet['photo_url'] %>
                <img src="<%= tweet['photo_url'] %>" alt="">
              <% else %>
                <img src="<%= @pretendee.profile_image_url %>" alt="">
               <% end %>
              <h4><%= tweet['text'] %></h4>
            </div><!--testimonials item like paragraph-->
            </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>