<% if @word_list.present? %>

    <div id="cloud" class="jqcloud">
    </div>

    <script>
      var wordList = JSON.parse("<%= @word_list.to_json %>".replace(/&quot;/g, '"'));
      $("#cloud").jQCloud(wordList);
    </script>
<% end %>