<% if @pretendee.word_histogram? %>

    <div id="cloud" class="jqcloud">
    </div>

    <script>
      var wordList = JSON.parse("<%= @pretendee.word_histogram.to_json %>".replace(/&quot;/g, '"'));
      $("#cloud").jQCloud(wordList);
    </script>
<% end %>