var pretendeeName = $("#pretendee_twitter").val(),
    html = "<div class='image-wrapper col-sm-3 nopadding'><img src='../assets/ajax-loader.gif' class='img-responsive'><div class='image-overlay'><p>"+ pretendeeName + "</p></div></div>";

$("#pretendees").append(html)