<div id="cloud" class="jqcloud" style="width: 550px; height: 350px;">

</div>
<script>
  var wordList = JSON.parse("<%= @word_list.to_json %>".replace(/&quot;/g, '"'));
  $("#cloud").jQCloud(wordList);
</script>