/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require jqcloud
 *= require animate
 *= require flexslider
 *= require owl.carousel
 *= require owl.theme
 *= require style
 *= require style.css
 *= require YTPlayer
 *= require_tree .
 *= require_self
 */
body {
  background-color: #FBFBFB;
  height: 100%;
}

.tweet { 
   position: absolute; 
   top: 0px; 
   left: 0px; 
   width: 100%; 
   color: #006169;
   padding: 30px;
   text-align: center;
}

.jqcloud {
  width: 100%; 
  height: 25%; 
  margin-top: 10px;
  margin-bottom: 20px;
}

#footer {
  clear: both;
  position: relative;
}

#topics {
  position: relative;
  width: 100%;
  height: auto;
}

.bottompadding {
  padding-bottom: 40px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.center-header {
  text-align: center;
  margin-bottom: 20px;
}

.services-section-2-ezra {
  background-image: url(../assets/stalk.png);
  background-size: 100%;
}

.services-section-3-ezra {
  background-image: url(../assets/books.jpg);
  background-size: 100%;
}

.add-padding-btn {
  padding: 11px;
}

#navigation * {
  height: 50px;
}

.navbar {
  height: 50px;
  margin: 0px;
  padding: 0px;
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}