<div id="footer" class="nopadding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 copyright">
        <span>&copy;2015 | pretender.io | All right reserved</span>
      </div>
    </div>
  </div>
</div>