<!DOCTYPE html>
<html>
<head>
<!-- seth messing around with wordcloud -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/jqcloud.css" />
  <script type="text/javascript" src="/assets/jqcloud-1.0.4.js"></script>
  <script type="text/javascript"></script>

  <title>Pretender</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
<!--   <%#= javascript_include_tag 'application' %> -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>